# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [6]:
a=np.random.randint(23000000,50000000, 3)

In [10]:
data = {'國家':['Taiwan','Japan','Switzerland'] ,
        '人口': a}
data = pd.DataFrame(data)

In [41]:
data

            國家        人口
0       Taiwan  42503949
1        Japan  32844135
2  Switzerland  24456554

In [50]:
population_max_country=data['國家'][data['人口'].idxmax()]
print('人口最多的國家:', population_max_country,)